{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h1 class="mb-2rem">S'identifier</h1>

	{% if error %}
		<div class="alert alert-danger login">
			Identifiants incorrects
		</div>
    {% endif %}

	{{ form_start(form) }}

	{{ form_widget(form) }}

	<button type="submit" class="btn btn-primary btn-center">
		<i class="fas fa-save"></i>
		S'enregistrer
	</button>

	{{ form_end(form) }}
{% endblock %}