{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1 class="fs-3">Bienvenue sur Le Récap</h1>
    <h2 class="center fs-2">Ici on va pouvoir tester mes compétences</h2>

{% endblock %}