{% extends 'base.html.twig' %}

{% block title %}Tous les films
{% endblock %}

{% block body %}
	<h1 class="mb-3rem">Liste de tous les films</h1>

    <div class="card-grid-2">
        {% for film in films %}
            {% include "films/_films_card.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}