{% extends "base.html.twig" %}

{% block title %}Ajout d'un film
{% endblock %}

{% block body %}
	<h1 class="mb-3rem">Ajouter un film</h1>

	{{ form_start(form) }}

	{{ form_widget(form) }}

	<button type="submit" class="btn btn-primary btn-center">
		<i class="fas fa-save"></i>
		Ajouter le film
	</button>

	{{ form_end(form) }}
{% endblock %}