html, body {
    height: 100%;
    margin: 0;
    border: 0;
}

.container {
    height: 100%;
    padding: 0;
    margin: 50px;
}

.center {
    display: flex;
    justify-content: center;
}

/* Dark Theme */
/* @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #ddd;
    }
} */