@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

/* Nabar */
#nav-main {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    padding: 15px 25px;
    background: rgba(240, 240, 240, 1);
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 40% 20% 40%;
    height: 5rem;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5rem;
    color: rgba(60, 60, 60, 1);
    margin: 0 auto;
}

.hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 1);
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
}

.hamburger span:nth-child(1) {
    transform: translateY(7px);
}

.hamburger span:nth-child(3) {
    transform: translateY(-7px);
}

.hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
}

.hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
}

.navlinks-container-slide {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(240, 240, 240, 1);
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    transform: translate(-100%);
}

.navlinks-container li {
    margin: 5px 5px;
    display: inline-block;
}

.navlinks-container a {
    font-size: 1rem;
    text-decoration: none;
    color: rgba(60, 60, 60, 1);
    position: relative;
}

.navlinks-container a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgba(30, 30, 30, 1);
    transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
    transform: scaleX(1);
}

.open {
    transform: translate(0%);
}

.nav-authentication {
    margin-left: auto;
}

.login-mobile {
    text-decoration: none;
    color: rgba(60, 60, 60, 1);
}

.login-mobile i {
    display: block;
    font-size: 1.5rem;
}

.sign-btn {
    display: none;
}

.activate {
    background-color: rgba(0, 0, 0, 0.85)
}

/* Footer */
footer {
    background: rgba(240, 240, 240, 1);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.title-footer {
    text-decoration: none;
    margin-bottom: 2rem;
    padding-top: 2rem;
    font-weight: 500;
    font-size: 2rem;
    color: rgba(60, 60, 60, 1);
    font-family: 'Dancing Script', sans-serif;
}

.footer-link a {
    text-decoration: none;
    margin-right: 15px;
}

.footer-col {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.footer-col h3 {
    margin-bottom: 20px;
}

.footer-col ul {
    width: 100%;
}

.logo-networks {
    justify-content: center;
}

.logo-networks a i {
    font-size: 2.5rem;
}

#linkedin {
    color: rgba(14, 118, 168, 1);
}

#facebook {
    color: rgba(66, 103, 178, 1);
}

#twitter {
    color: rgba(29, 161, 242, 1);
}

#github {
    color: rgba(0, 0, 0, 1);
}

.footer-copyright p i {
    margin-right: 5px;
}

#copyright {
    font-size: 1rem;
}

.container {
    flex-grow: 1;
    padding: 0;
    margin: 100px;
}

.container-films {
    padding: 0;
    flex-grow: 1;
    margin: 150px 10% 100px 10%;
}

.container-footer {
    padding: 0;
    margin: 0 100px;
}

ul {
    list-style-type: none;
}

.center {
    display: flex;
    justify-content: center;
}

button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1)
}

.mt-1rem {
    margin-top: 1rem;
}

.mt-2rem {
    margin-top: 2rem;
}

.mt-3rem {
    margin-top: 3rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.mb-2rem {
    margin-bottom: 2rem;
}

.mb-3rem {
    margin-bottom: 3rem;
}

.mb-5rem {
    margin-bottom: 5rem;
}

.my-1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p-1rem {
    padding: 1rem;
}

.pt-3rem {
    padding-top: 3rem;
}

.pb-1rem {
    padding-bottom: 1rem;
}

.pb-2rem {
    padding-bottom: 2rem;
}

.pr-1rem {
    padding-right: 1rem;
}

.px-1rem {
    padding-left: 1rem;
    padding-right: 1rem;
}

.d-none {
    display: none !important;
}

.flex-direct-col {
    flex-direction: column;
}

/* Formulaire d'enregistrement / connexion */
#register {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 0 10%;
    margin-bottom: 10px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register div input,
#register div select,
#login div input,
#login div select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 1);
    margin-bottom: 15px;
    margin-top: 5px;
}

#register div input,
#login div input {
    width: 100%;
}

#register div select {
    display: block;
}

#register li {
    color: red;
}

/* Escape Game */
.back-escape {
    background: url(/images/escape.jpg) no-repeat center;
    background-size: cover;
}

.shadow-escape-title {
    text-shadow: 0px 0px 30px #000;
    color: rgba(178, 233, 255, 1);
    font-size: 4rem;
    margin-bottom: 50px;
}

.form-escape {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.form-escape input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 1);
}

.question {
    width: 75%;
    margin: 0 auto 30px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(195, 233, 248, 1);
    text-align: center;
    font-size: 1.5rem;
}

.falseAnswer {
    width: 75%;
    margin: 0 auto 30px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(220, 53, 69, 1);
    text-align: center;
    font-size: 1.5rem;
}

.goodAnswer {
    width: 75%;
    margin: 0 auto 30px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(25, 135, 84, 1);
    text-align: center;
    font-size: 1.5rem;
}

.solution-escape {
    display: block;
    margin: 0 auto 5rem auto;
}

.next-escape {
    display: block;
    margin: 30px auto 0 auto;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.next-escape a {
    color: white;
}

/* Films */
#nav-films {
    position: fixed;
    width: 100%;
    padding: unset;
    margin-top: 5rem;
}

#nav-films a {
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(255, 255, 255, 1);
    background: rgba(109, 114, 185, 1);
    height: 50px;
    text-decoration: none;
    box-shadow: inset 0px -1px 0px rgb(0 0 0 / 15%);
}

#nav-films a:hover {
    background-color: rgba(80, 72, 129, 1);
}

#nav-films ul {
    display: flex;
}

#nav-films ul li {
    position: relative;
    width: 100%;
}

#nav-films li:hover .ul-category-films > li {
    top: 0;
    display: block;
}

.ul-category-films li {
    display: none;
}

.ul-category-films {
    flex-direction: column;
    position: absolute;
    width: 100%;
}

/* Carte des films */
.card-film {
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 1);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card-title {
    background: rgba(240, 240, 240, 1);
    display: flex;
    justify-content: center;
    box-shadow: inset 0px -1px 0px rgba(190, 190, 190, 0.5);
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    max-width: 100%;
    object-fit: cover;
    max-height: 300px;
}

.card-button {
    justify-content: end;
    display: flex;
}

.card-button a {
    text-decoration: none;
}

.card-footer {
    background: rgba(240, 240, 240, 1);
    display: flex;
    justify-content: end;
    box-shadow: inset 0px 1px 0px rgba(190, 190, 190, 0.5);
}

/* Page d'un film */
.show {
    display: grid;
    grid-template-columns: 60% 35%;
    grid-gap: 0 5%;
}

.show-image img {
    width: 100%;
    object-fit: contain;
    max-height: 500px;
}

.show-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-content h1 {
    text-align: unset;
}

.show-footer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* Ajout de film / catégorie */
#film {
    margin-bottom: 10px;
}

#film div input,
#film div select,
#film div textarea {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 1);
    margin-bottom: 15px;
    margin-top: 5px;
}

#film div input,
#film div textarea {
    width: 100%;
}

#film div select {
    display: block;
}

#film li {
    color: red;
}

/* Ajout d'une catégorie */
#category {
    margin-bottom: 10px;
}

#category > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#category div input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 1);
    margin-bottom: 15px;
    margin-top: 5px;
}

/* Boutons */
.btn {
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-primary {
    color: rgba(255, 255, 255, 1);
    background-color: #0d6efd;
    border-color: #0d6efd;
    cursor: pointer;
}

.btn-success {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(25, 135, 84, 1);
    border-color: rgba(25, 135, 84, 1);
    cursor: pointer;
}

.btn-danger {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(220, 53, 69, 1);
    border-color: rgba(220, 53, 69, 1);
    cursor: pointer;
}

.btn-warning {
    color: rgba(255, 255, 255, 1);
    background-color: #ffc107;
    border-color: #ffc107;
    cursor: pointer;
}

.btn-info {
    color: rgba(255, 255, 255, 1);
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    cursor: pointer;
}

.btn-center {
    display: block;
    margin: 20px auto 0 auto;
}

/* Messages Flash */
.alert {
    position: relative;
    padding: 15px 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

/* Responsive */
@media only screen and (min-width: 600px) {
    .nav-icon {
        font-size: 2rem;
    }

    .footer-link {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .footer-col {
        margin-bottom: unset;
    }

    #film,
    .card-grid-2,
    .card-grid-3 {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 0 10%;
    }
}

@media only screen and (min-width: 768px) {
    #nav-main {
        padding: 0 25px;
    }

    .hamburger {
        display: none;
    }

    .login-mobile {
        display: none;
    }

    .navlinks-container-slide {
        display: block;
        border-right: unset;
        position: unset;
        top: unset;
        left: unset;
        height: unset;
        background: unset;
        transform: unset;
        transition: unset;
    }

    .sign-btn {
        display: flex;
    }

    .sign-btn button {
        min-width: 100px;
        padding: 5px 0px;
        margin: 0 5px;
        border-radius: 15px;
        border: none;
        background-color: rgba(255, 255, 225, 1);
    }

    .sign-btn button:nth-child(2) {
        background-color: rgba(150, 225, 255, 0.5)
    }

    .container {
        margin-top: 125px;
    }
}

@media only screen and (min-width: 992px) {
    #nav-main {
        padding: 0 50px;
    }

    .container {
        margin-top: 125px;
    }

    .footer-link {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .card-grid-3 {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 0 5%;
    }
}

@media only screen and (min-width: 1200px) {
    #nav-main {
        padding: 0 150px;
    }

    .container {
        margin: 125px 20% 100px 20%;
    }

    .container-films {
        margin: 150px 10% 100px 10%;
    }
    
    .login {
        width: 50%;
        margin: 30px auto 30px auto;
    }
}

/* Dark Theme */
/* @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #ddd;
    }
} */