{% extends 'admin/base.html.twig' %}

{% block title %}Accueil administrateur
{% endblock %}

{% block body %}
    <h1>Accueil administrateur</h1>

    <div class="back-office">
        {% include "admin/shared/_aside.html.twig" %}
        <div class="back-office-content">
            <div class="card-back-office">
                <a href="{{ path('app_admin_users') }}">
                    <h3>Utilisateurs</h3>
                    <p>Vous pouvez gérer les utilisateurs</p>
                </a>
            </div>

            <div class="card-back-office">
                <a href="{{ path('app_admin_category') }}">
                    <h3>Catégories</h3>
                    <p>Vous pouvez gérer les catégories</p>
                </a>
            </div>

            <div class="card-back-office">
                <a href="{{ path('app_admin_films') }}">
                    <h3>Films</h3>
                    <p>Vous pouvez gérer les films</p>
                </a>
            </div>

            <div class="card-back-office">
                <a href="{{ path('app_admin_comments') }}">
                    <h3>Commentaires</h3>
                    <p>Vous pouvez gérer les commentaires</p>
                </a>
            </div>
        </div>
    </div>


{% endblock %}
