/* Dark Theme */
html,
body {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(229, 229, 229, 1);
}

input,
textarea,
select {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(50, 50, 50, 1);
    color: rgba(229, 229, 229, 1);
}

input::file-selector-button {
    background-color: rgba(50, 50, 50, 1);
    color: rgba(229, 229, 229, 1);
    cursor: pointer;
}

select {
    color: rgba(229, 229, 229, 1);
}

.active {
    background-color: rgba(57, 31, 98, 1) !important;
}

/* Navbar */
.nav-admin {
    background: rgba(73, 33, 135, 1);
}

/* Dark cards films */
.card-film {
    border: 1px solid rgba(50, 50, 50, 1);
}

.card-title,
.card-footer {
    background-color: rgba(50, 50, 50, 1);
}

.card-title {
    box-shadow: inset 0px -1px 0px rgb(100 100 100 / 50%);
}

.card-footer {
    box-shadow: inset 0px 1px 0px rgb(100 100 100 / 50%);
}

/* Film */
.show-content {
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(50, 50, 50, 1);
}

.star-icon {
    background: radial-gradient(circle, rgb(177 168 50) 0%, rgba(251, 205, 64, 1) 90%, rgba(0, 0, 0, 1) 100%);
    -webkit-background-clip: text;
}

.card-comment {
    border: 1px solid rgba(50, 50, 50, 1);
}

.card-comment-title {
    background-color: rgba(50, 50, 50, 1);
    box-shadow: inset 0px -1px 0px rgb(100 100 100 / 50%);
}

/* Back office content */
.back-office-aside a {
    background: rgba(73, 33, 135, 1);
}

.back-office-aside a:hover {
    background-color: rgba(66, 47, 96, 1);
}

.card-back-office {
    border: 1px solid rgba(50, 50, 50, 1);
}

.card-back-office h3 {
    background: rgba(73, 33, 135, 1);
    box-shadow: inset 0px -1px 0px rgb(100 100 100 / 50%);
}

.card-back-office a:hover>h3 {
    background-color: rgba(66, 47, 96, 1);
}

.card-back-office p {
    color: rgba(229, 229, 229, 1);
}

/* Table */
thead {
    border-bottom: 2px solid rgba(229, 229, 229, 1);
}

/* Dark buttons */
.btn-primary {
    background-color: rgba(73, 33, 135, 1);
    border-color: rgba(73, 33, 135, 1);
}

.btn-primary:hover {
    background-color: rgba(66, 47, 96, 1);
    border-color: rgba(66, 47, 96, 1);
}

.btn-success {
    background-color: rgba(0, 147, 79, 1);
    border-color: rgba(0, 147, 79, 1);
}

.btn-success:hover {
    background-color: rgba(0, 125, 67, 1);
    border-color: rgba(0, 125, 67, 1);
}

.btn-danger {
    background-color: rgba(185, 46, 59, 1);
    border-color: rgba(185, 46, 59, 1);
}

.btn-danger:hover {
    background-color: rgba(209, 25, 42, 1);
    border-color: rgba(209, 25, 42, 1);
}

.btn-warning {
    background-color: rgba(207, 158, 10, 1);
    border-color: rgba(207, 158, 10, 1);
}

.btn-warning:hover {
    background-color: rgba(241, 189, 32, 1);
    border-color: rgba(241, 189, 32, 1);
}

.btn-info {
    background-color: rgba(66, 146, 163, 1);
    border-color: rgba(66, 146, 163, 1);
}

.btn-info:hover {
    background-color: rgba(93, 188, 209, 1);
    border-color: rgba(93, 188, 209, 1);
}

.sign-btn a,
.btn-sign {
    border: 2px solid rgba(133, 91, 201, 1);
}

.sign-btn a:hover,
.btn-sign:hover {
    background-color: rgba(133, 91, 201, 1);
}

/* Flash messages */
.alert-success {
    color: rgb(255 255 255);
    background-color: rgb(0 100 55);
    border-color: rgb(44 157 88);
}