/* Back Office */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

input,
textarea,
select {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

input,
textarea {
    width: 100%;
}

.container {
    margin: 125px 5% 50px 5%;
}

.active {
    color: rgba(255, 255, 255, 1) !important;
}

.mr-auto {
    margin-right: auto;
}

.mt-1rem {
    margin-top: 1rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.mb-3rem {
    margin-bottom: 3rem;
}

.ml-1rem {
    margin-left: 1rem;
}

.p-1rem {
    padding: 1rem;
}

.px-1rem {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pr-1rem {
    padding-right: 1rem;
}

.star-icon {
    background: rgb(251, 238, 64);
    background: radial-gradient(circle, rgba(251, 238, 64, 1) 0%, rgba(251, 205, 64, 1) 90%, rgba(0, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Navbar */
.nav-admin {
    display: flex;
    color: rgba(229, 229, 229, 1);
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-admin a {
    color: rgba(229, 229, 229, 1);
    text-align: center;
}

.sign-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign-btn p {
    text-align: center;
    margin-bottom: 5px;
}

.btn-sign {
    border-radius: 15px;
    padding: 5px 10px;
}

/** Back office content */
.back-office {
    display: block;
}

.back-office>div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.back-office-aside {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    border-radius: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.35);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    margin-bottom: 3rem;
}

.back-office-aside a {
    display: flex;
    justify-content: center;
    color: rgba(229, 229, 229, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    padding: 1rem 2rem;
}

.back-office-aside a:nth-child(1) {
    border-radius: 15px 15px 0 0;
}

.back-office-aside a:nth-last-child(1) {
    border-radius: 0 0 15px 15px;
}

.card-back-office {
    border-radius: 15px;
    align-self: self-start;
    margin-bottom: 2rem;
}

.card-back-office h3 {
    color: rgba(229, 229, 229, 1);
    border-radius: 15px 15px 0 0;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 0.5rem;
}

.card-back-office p {
    padding: 0.5rem;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

table thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

table tr {
    display: block;
    margin-bottom: 3rem;
}

table td {
    display: block;
    text-align: right;
    color: rgba(229, 229, 229, 1);
}

table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
}

table td:last-child {
    border-bottom: 0;
    margin-top: 1rem;
    background: unset;
}

tbody {
    text-align: center;
}

th,
td {
    padding: 0.5rem;
}

td.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

td.action-btn a {
    margin-right: 5px;
}

td.action-btn a:nth-last-child(1) {
    margin-right: unset;
}

/* User Infos */
.back-office-stars-show,
.back-office-comments-show {
    padding-top: 1rem;
    margin-top: 1rem;
    box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
}

.back-office-stars-show p {
    margin-bottom: 1rem;
}

/* Film */
.show {
    margin-bottom: 3rem;
}

.show-image img {
    width: 100%;
    object-fit: contain;
    max-height: 500px;
    border-radius: 15px;
}

.show-content {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1rem;
    align-self: self-start;
}

.show-content h1 {
    text-align: unset;
}

.rate p {
    margin-bottom: 5px;
}

.display-rate {
    display: flex;
    justify-content: space-between;
}

.star-icon {
    background: rgb(251, 238, 64);
    -webkit-text-fill-color: transparent;
}

#stars>div>label {
    display: flex;
}

.show-footer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.card-comment {
    border-radius: 15px;
}

.card-comment-title {
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
}

.card-comment-title p {
    display: flex;
    align-items: center;
}

/* Comments */
.card-comment {
    border-radius: 15px;
    border: 1px solid rgba(190, 190, 190, 1);
    margin-bottom: 2rem;
}

.card-comment-title {
    display: flex;
    justify-content: space-between;
    background: rgba(240, 240, 240, 1);
    box-shadow: inset 0px -1px 0px rgba(190, 190, 190, 0.5);
    border-radius: 15px 15px 0 0;
    padding: 1rem;
}

.card-comment-title p {
    display: flex;
    align-items: center;
}

.card-comment-content {
    padding: 1rem;
}

/* Form : Edit */
#admin_edit_user,
#admin_edit_category,
#admin_edit_film {
    margin-bottom: 10px;
}

#admin_edit_user div select,
#admin_edit_film div select {
    display: block;
}

#admin_edit_category div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#admin_edit_category input {
    width: unset;
}

#admin_edit_film .vich-image a img {
    max-height: 300px;
    max-width: 400px;
}

#admin_edit_user li {
    color: red;
}

/* Cards for films */
.card-film {
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card-title {
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    max-width: 100%;
    object-fit: cover;
    max-height: 300px;
    border-radius: 15px;
}

.card-button {
    justify-content: end;
    display: flex;
}

.card-footer {
    display: flex;
    justify-content: end;
    border-radius: 0 0 15px 15px;
}

/* Delete User */
.user-delete {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255 0 24);
}

/* Buttons */
.btn {
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-center {
    display: block;
    margin: 20px auto 0 auto;
}

.btn-delete {
    padding: 0px 6px 2px 6px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-primary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

/* Flash messages */
.alert {
    position: relative;
    padding: 15px 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* Responsive */
@media only screen and (min-width: 600px) {
    .card-grid-2 {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 0 10%;
    }
}

@media only screen and (min-width: 768px) {
    .back-office {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .back-office-aside {
        position: fixed;
    }

    .back-office-content {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 0 10%;
    }

    #admin_edit_user {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 0 10%;
    }

    table thead {
        clip: unset;
        height: unset;
        margin: unset;
        overflow: unset;
        padding: unset;
        position: unset;
        width: unset;
    }
    
    table tr {
        border-bottom: unset;
        display: table-row;
        margin-bottom: unset;
    }

    table td {
        border-bottom: unset !important;
        display: table-cell;
        font-size: unset;
        text-align: unset;
        background: unset !important;
    }

    table td::before {
        content: unset;
    }

    table td:last-child {
        border-bottom: unset;
        margin-top: unset;
    }

    td.action-btn {
        flex-direction: column;
    }

    td.action-btn a {
        margin-right: unset;
        margin-bottom: 5px;
    }
    
    td.action-btn a:nth-last-child(1) {
        margin-bottom: unset;
    }
}

@media only screen and (min-width: 992px) {
    .back-office {
        grid-template-columns: 20% 75%;
        grid-gap: 0 5%;
    }

    .back-office-content {
        grid-template-columns: 30% 30% 30%;
        grid-gap: 0 5%;
    }

    .show {
        display: grid;
        grid-template-columns: 60% 35%;
        grid-gap: 0 5%;
    }
    
    td.action-btn {
        flex-direction: row;
    }

    td.action-btn a {
        margin-right: 5px;
        margin-bottom: unset;
    }

    td.action-btn a:nth-last-child(1) {
        margin-right: unset;
    }
}