{% extends 'base.html.twig' %}

{% block title %}Escape Game{% endblock %}

{% block body %}
    <h1 class="shadow-escape-title">Vite, ça va exploser !!!</h1>

    <h2 id="countdownEscape"></h2>

    <div id="congrats" class="d-none">
        <p class="mb-2rem">Bravo vous avez gagnés</p>

        <button class="btn-success replay-escape" id="win-replay-escape"><a href="{{ path('app_escape_game') }}">Rejouer ?</a></button>
    </div>

    <div id="loose" class="d-none">
        <p class="mb-2rem">Dommage, vous avez perdu</p>

        <button class="btn-success replay-escape" id="loose-replay-escape"><a href="{{ path('app_escape_game') }}">Rejouer ?</a></button>
    </div>

    <section>
        <div class="question">
            <p>En quelle année Christophe Colomb a découvert l'Amérique ?</p>
        </div>

        <div class="falseAnswer d-none" id="thirdDivFailSubmit">
            <p id="thirdParaFailSubmit"></p>
        </div>

        <div class="goodAnswer d-none" id="thirdDivGoodSubmit">
            <p>Bonne réponse, l'Amérique a été découverte le 12 octobre 1492</p>
        </div>

        <form name="thirdFormEscape" class="mb-1rem">

            <div id="thirdFormEscape" class="form-escape">
                <input type="text" id="thirdInputEscape" name="thirdInputEscape" placeholder="Votre date">

                <button type="submit" id="thirdFormSendEscape" class="btn btn-primary">
                    <i class='fas fa-arrow-right' id="thirdTestSubmitEscape"></i>
                    <i class="far fa-times-circle d-none" id="thirdFailSubmitEscape"></i>
                    <i class="fa-solid fa-check d-none" id="thirdSuccessSubmitEscape"></i>
                </button>

                <button class="btn btn-info" id="thirdSolutionEscape"><i class="fa-solid fa-circle-info"></i></button>
            </div>
        </form>
    </section>    
{% endblock %}