<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Le Récap | 
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
		{% block stylesheets %}
		{% endblock %}
	</head>
	{% if app.request.attributes.get('_route') starts with 'app_escape_game' %}
		<body class="back-escape">
	{% else %}
		<body>
	{% endif %}
        {% include "shared/_navbar.html.twig" %}
		{% if app.request.attributes.get('_route') starts with 'app_films' %}
			{% include "shared/_navbar_films.html.twig" %}
			<div class="container-films">
		{% else %}
			<div class="container">
		{% endif %}
		
			{% for rubrique, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ rubrique }}">
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
		{% include "shared/_footer.html.twig" %}
		{% block javascripts %}
			{% if app.request.attributes.get('_route') starts with 'app_escape_game' %}
				<script src="/js/escape-script.js"></script>
			{% endif %}
			<script src="/js/script.js"></script>
		{% endblock %}
	</body>
</html>