<nav id="nav-films">
    <ul>
        <li><a href="{{ path('app_films') }}">Accueil</a></li>
        <li><a href="#">Tous les films</a></li>
        <li>
            <a href="#">Catégories</a>
            <ul class="ul-category-films">
                <li><a href="#">Catégorie 1</a></li>
                <li><a href="#">Catégorie 2</a></li>
                <li><a href="#">Catégorie 3</a></li>
                <li><a href="#">Catégorie 4</a></li>
            </ul>
        </li>
        <li><a href="{{ path('app_films_create') }}">Ajouter un film</a></li>
    </ul>
</nav>