<nav class="grid">
    <div class="main-navlinks">
        <button class="hamburger" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="navlinks-container">
            <ul class="navlinks-container-slide">
                <li>
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a href="#">Autre page</a>
                </li>
                <li>
                    <a href="#">Encore une autre</a>
                </li>
                <li>
                    <a href="#">Encore</a>
                </li>
                <li>
                    <a href="#">De nouveau</a>
                </li>
                <li>
                    <a href="#">Voilà</a>
                </li>
            </ul>
        </div>
    </div>

    <a href="#" class="nav-icon">Le Récap</a>

    <div class="nav-authentication">
        <a href="#" class="login-mobile">
            <i class="fa-solid fa-user"></i>
        </a>

        <div class="sign-btn">
            <button type="button">S'identifier</button>
            <button type="button">S'enregistrer</button>
        </div>
    </div>
</nav>